.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
.terraform.lock.*

.vscode/
*.vscode/
.code-workspace
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode-server/
npm-debug.log*
.yarn-integrity
pnpm-debug.log*
.eslintcache
node_modules/
out/
.env
